{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Promise": true,
    "fetch": true,
    "$": true,
    "fis": true,
    "React": true,
    "ReactRedux": true,
    "ReactDOM": true,
    "Redux": true,
    "ReduxFalcor": true,
    "__inline": true
  },
  "ecmaFeatures": {
    "generators": true,
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "spaced-comment": 0,
    "arrow-body-style": [1, "as-needed"],
    "object-shorthand": 1,
    "prefer-const": 1,
    "max-len": [1, 120],
    "prefer-template": 1,
    "object-curly-spacing": 0,
    "no-console": 0,
    "indent": 0,
    "dot-location": [
      2,
      "property"
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "no-empty": 0,
    "eol-last": 0,
    "no-multi-spaces": 1,
    "no-unused-vars": [
      1,
      {
        "args": "none"
      }
    ],
    "no-use-before-define": 0
  }
}
